<div class="about-us-wrapper">

    <table class="table mb-0">

        <thead>
            <tr>
                <th colspan="2">About The Website</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Email ID</td>
                <td>akshayakc94@gmail.com</td>
            </tr>

            <tr>
                <td>Founded In</td>
                <td>Sep 2023</td>
            </tr>

            <tr>
                <td>Privacy Policy</td>
                <td>Link</td>
            </tr>

            <tr class="social-media">
                <td>Social Media</td>
                <td>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <i class='bx bxl-instagram text-danger'></i>
                        </li>
                        <li class="list-group-item">
                            <i class='bx bxl-twitter text-primary'></i>
                        </li>
                        <li class="list-group-item">
                            <i class='bx bxl-youtube text-danger'></i>
                        </li>
                        <li class="list-group-item">
                            <i class='bx bxl-facebook-square text-primary'></i>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Support Us</td>
                <td>Link to Pay</td>
            </tr>
        </tbody>

    </table>

</div>
